/* Google Fonts import  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --nav-padding: 20px 15%;
    --continer-padding: 40px 15%;
    --main-color: #f0ebe5;
    /* --main-color:   #fff; */
}

body {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    font-family: "Montserrat", sans-serif;
    background: var(--main-color);
}

/* Nav  */
nav {
    width: 100vw;
    height: 115px;
    left: 0;
    top: 0;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--nav-padding);
}

nav .search_product {
    max-width: fit-content;
    border: 1px solid rgba(202, 202, 202, 0.61);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .search_product input {
    padding: 8px 0 8px 12px;
    border: none;
    outline: none;
    background: var(--main-color);
}

nav .search_product i {
    margin-right: 7px;
}


nav .logo a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 30px;
    margin-left: -10%;
}

nav .cart_sec {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .cart_sec button {
    margin-left: 20px;
    border: none;
    background: unset;
    font-size: 16px;
    font-size: 18px;
    cursor: pointer;
}


nav .cart_sec a {
    margin-left: 20px;
    border: none;
    background: unset;
    font-size: 18px;
    color: #000;
}


nav .suv_nav {
    width: 100%;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .suv_nav .nav_items {
    list-style: none;
    padding: 3px 10px;
}

nav .suv_nav .nav_items a {
    font-size: 13px;
    text-decoration: none;
    color: #000000b6;
    font-weight: 500;
    transition: .3s linear;
}

nav .suv_nav .nav_items a i {
    padding-left: 5px;
    transition: .3s linear;
}


/* Slider  */

.slider {
    width: 100vw;
    height: calc(100vh - 120px);
    overflow: hidden;
    position: relative;
}

.slider .slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: .5s linear;
}

.slider .slides .slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .3s linear;
}

.slider .slides .slide img {
    width: 100%;
}

.slider .slides .slide .content {
    position: absolute;
    left: 15%;
}

.slider .slides .slide .content p {
    font-size: 14px;
}

.slider .slides .slide .content h1 {
    font-size: 45px;
    margin-top: 8px;
}

.slider .slides .slide .content a {
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    top: 25px;
    padding: 8px 20px;
    transition: .3s linear;
}

.slider .slides .slide .content a:hover {
    font-size: 14px;
    text-decoration: none;
    background: transparent;
    color: #000;
    transition: .3s linear;
}

.slider .slide_btns {
    position: absolute;
    z-index: 999;
    left: 50px;
    top: 50%;
}

.slider .slide_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 20px rgba(202, 202, 202, 0.61);
    cursor: pointer;
}

.slider .slide_btns button:nth-child(2) {
    position: absolute;
    left: calc(100vw - 100px);
}


/* Highlights */

.highlights {
    width: 100vw;
    padding: var(--continer-padding);
}

.highlights .head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.highlights .head p {
    font-size: 16px;
}

.highlights .head h2 {
    margin-top: 8px;
    transform: scaleY(1.1);
}

.highlights .items {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.highlights .items .item {
    text-decoration: none;
    color: #000;
    width: calc(25% - 15px);
    height: auto;
    box-shadow: 0 0 20px rgba(202, 202, 202, 0.61);
    position: relative;
    margin-top: 40px;
    background: #fff;
}

.highlights .items .item .img_sec {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights .items .item .img_sec img {
    width: 100%;
    max-height: 100%;
}

.highlights .items .item .content {
    padding: 15px;
    position: relative;
}

.highlights .items .item .content p {
    font-size: 13px;
    color: rgba(128, 128, 128, 0.774);
}

.highlights .items .item .content h4 {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
}

.highlights .items .item .content h3 {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 800;
    background: #000000be;
    color: #fff;
    padding: 3px 8px;
    width: fit-content;
}

.highlights .items .item .discount_tag {
    position: absolute;
    top: -21px;
    right: 0;
    background: #000000be;
    color: #fff;
    padding: 3px 8px;
    font-size: 13px;
    transform: skewX(-10deg);
}

.highlights .items .item .type_tag {
    position: absolute;
    top: -21px;
    left: 0;
    background: #000000be;
    color: #fff;
    padding: 3px 8px;
    font-size: 13px;
    transform: skewX(-10deg);
    display: none;
}

.highlights .items .item .content .top_tag {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #0000001a;
    padding: 3px 8px;
    font-size: 40px;
    font-weight: 900;

}

/* ADS Section  */

.ads_sec {
    width: 100vw;
    height: 250px;
    margin: 20px 0;
    /* box-shadow: 0 0 20px rgba(202, 202, 202, 0.404); */
    display: flex;
}

.ads_sec .ad_sm_card {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #7d7a71;
}

.ads_sec .ad_sm_card img {
    width: 75%;
    margin-top: 20px;
    filter: drop-shadow(0 20px 10px rgb(0, 0, 0, .5));
}

.ads_sec .ad_sm_card h4 {
    color: #fff;
}



.ads_sec .ad_bg_card {
    width: calc(100% - 750px);
    display: flex;
    align-items: center;
    background: #e7e7e7;
    position: relative;
}

.ads_sec .ad_bg_card img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}

.ads_sec .ad_bg_card .content {
    position: absolute;
    left: 15%;
    z-index: 999;
}

.ads_sec .ad_bg_card .content p {
    font-size: 14px;
}

.ads_sec .ad_bg_card .content h1 {
    font-size: 25px;
    margin-top: 8px;
}

.ads_sec .ad_bg_card .content a {
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    top: 25px;
    padding: 8px 20px;
    transition: .3s linear;
}

.ads_sec .ad_bg_card .content a:hover {
    font-size: 14px;
    text-decoration: none;
    background: transparent;
    color: #000;
    transition: .3s linear;
}

.ads_sec .ad_md_card {
    width: 450px;
    display: flex;
    background: #868686;
    justify-content: center;
}

.ads_sec .ad_md_card img {
    mix-blend-mode: darken;
    height: 90%;
    right: 30px;
    top: 10px;
}

.ads_sec .ad_md_card .content {
    position: absolute;
    left: 9%;
    z-index: 999;
}

/* Footer  */

footer {
    width: 100vw;
    background: #000000bd;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: var(--continer-padding);
}

footer .ft h5 {
    color: #fff;
    font-size: 16px;
}

footer .ft ul li {
    list-style-type: none;
    margin-top: 10px;
}

footer .ft ul li a {
    color: #ffffffc5;
    text-decoration: none;
    font-size: 13px;
}

footer .ft h4 {
    margin: 10px 0;
    font-size: 13px;
    color: #ffffffc5;
    font-weight: 600;
}

footer .ft .tel {
    font-size: 13px;
    color: #ffffffc5;
    font-weight: 600;
    text-decoration: none;
}

footer .ft .socialft {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

footer .ft .socialft a {
    margin-right: 10px;
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #000;
    transition: .3s linear;
}

footer .ft .socialft a:hover {
    transform: rotate(360deg);
}


/* Product Section Start  */
.product_sec {
    width: 100vw;
    padding: var(--continer-padding);
}

.product_sec .product {
    width: 100%;
    display: flex;
}

.product_sec .product .left_pro,
.right_pro {
    width: 40%;
    padding-left: 25px;
}

.product_sec .product .right_pro {
    width: 60%;
}

.product_sec .product .left_pro .mainPoster {
    width: 100%;
}

.product_sec .product .left_pro .mainPoster img {
    width: 100%;
}

.product_sec .product .left_pro .mainPoster img {
    width: 100%;
}

.product_sec .product .right_pro h1 {
    margin: 20px 0;
    color: gray;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.product_sec .product .right_pro p {
    margin-top: 10px;
    font-size: 13px;
    color: grey;
}

.product_sec .product .right_pro h4 {
    margin-top: 25px;
}

.product_sec .product .right_pro .pro_col {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.product_sec .product .right_pro .pro_col h6 {
    width: 20px;
    height: 20px;
    background: green;
    margin-right: 10px;
    cursor: pointer;
}

.product_sec .product .right_pro .pro_size {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.product_sec .product .right_pro .pro_size h5 {
    margin-right: 10px;
    padding: 3px 10px;
    border: 1px solid #000;
    cursor: pointer;
    transition: .3s linear;
}

.product_sec .product .right_pro .pro_size h5:hover {
    background: #000;
    color: #fff;
}

.product_sec .product .right_pro .pro_qyt {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.product_sec .product .right_pro .pro_qyt .qyt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 5px 10px;
    width: 100px;
    margin-right: 15px;
}

.product_sec .product .right_pro .pro_qyt .qyt i {
    cursor: pointer;
    padding: 3px 5px;
    transition: .3s linear;
}

.product_sec .product .right_pro .pro_qyt .qyt i:hover {
    color: #000;
}

.product_sec .product .right_pro .pro_qyt .qyt h6 {
    font-size: 12px;
}

.product_sec .product .right_pro .pro_qyt button {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 9px 13px;
    cursor: pointer;
    transition: .3s linear;
}

.product_sec .product .right_pro .pro_qyt button:hover {
    background: transparent;
    color: #000;
}

.product_sec .product .right_pro .pro_fav {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.product_sec .product .right_pro .pro_fav span {
    font-size: 14px;
    margin-top: -5px;
    margin-left: 15px;
    font-weight: 600;
}

.product_sec .product .right_pro .pro_fav i {
    font-size: 20px;
    cursor: pointer;
}

.product_sec .product .right_pro .pro_des {
    height: 60px;
    overflow: hidden;
    transition: .3s linear;
}

.product_sec .product .right_pro .pro_des_active {
    height: auto;
}

.product_sec .product .right_pro .pro_des .pro_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    border-bottom: 1px solid grey;
    padding: 10px 10px;
    cursor: pointer;
}

.product_sec .product .right_pro .pro_des .pro_head h4 {
    margin: 0;
}

.product_sec .product .right_pro .pro_des .leftRight_card {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.product_sec .product .right_pro .pro_des .leftRight_card h6 {
    margin-right: 10px;
}

.product_sec .product .right_pro .pro_des .reviews .review_input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product_sec .product .right_pro .pro_des .reviews .review_input .bi {
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: .3s linear;
}

.product_sec .product .right_pro .pro_des .reviews .review_input .bi:hover {
    color: #ffa534;
}

.product_sec .product .right_pro .pro_des .reviews .review_input input {
    padding: 10px 10px;
    border-radius: 7px;
    border: 1px solid #bcbcbc;
    margin-right: 13px;
}

.product_sec .product .right_pro .pro_des .reviews .review_input button {
    padding: 10px 10px;
    border-radius: 7px;
    border: 1px solid #bcbcbc;
    margin-right: 13px;
    background: #000;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
}

.product_sec .product .right_pro .pro_des .reviews .review_input button:hover {
    border: 1px solid #e6e6e6;
    margin-right: 13px;
    background: #e6e6e6;
    color: #000;
}


.product_sec .product .right_pro .pro_des .reviews .review_card {
    margin-top: 15px;
}

.product_sec .product .right_pro .pro_des .reviews .review_card .review_user {
    display: flex;
    align-items: center;
}

.product_sec .product .right_pro .pro_des .reviews .review_card .review_user i {
    margin-right: 8px;
}


/* Result Sec Strat */
.result_sec {
    width: 100%;
    padding: var(--continer-padding);
    padding-left: 5%;
}

.result_sec .result_box {
    width: 100%;
    display: flex;
}

.result_sec .result_box .head_result_box {
    width: calc(100% - 170px);
}


.result_sec .result_box .resutl_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result_sec .result_box .resutl_head select {
    padding: 5px 10px;
    border: 1px solid rgba(202, 202, 202, 0.61);
    border-radius: 5px;
}

.result_sec .result_box .items {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.result_sec .result_box .items .item {
    text-decoration: none;
    color: #000;
    width: calc(25% - 15px);
    height: auto;
    box-shadow: 0 0 20px rgba(202, 202, 202, 0.61);
    position: relative;
    margin-top: 40px;
    background: #fff;
}

.result_sec .result_box .items .item .img_sec {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_sec .result_box .items .item .img_sec img {
    width: 100%;
    max-height: 100%;
}

.result_sec .result_box .items .item .content {
    padding: 15px;
    position: relative;
}

.result_sec .result_box .items .item .content p {
    font-size: 13px;
    color: rgba(128, 128, 128, 0.774);
}

.result_sec .result_box .items .item .content h4 {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
}

.result_sec .result_box .items .item .content h3 {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 800;
    background: #000000be;
    color: #fff;
    padding: 3px 8px;
    width: fit-content;
}

.result_sec .result_box .items .item .discount_tag {
    position: absolute;
    top: -21px;
    right: 0;
    background: #000000be;
    color: #fff;
    padding: 3px 8px;
    font-size: 13px;
    transform: skewX(-10deg);
}

.result_sec .result_box .items .item .type_tag {
    position: absolute;
    top: -21px;
    left: 0;
    background: #000000be;
    color: #fff;
    padding: 3px 8px;
    font-size: 13px;
    transform: skewX(-10deg);
    display: none;
}

.result_sec .result_box .items .item .content .top_tag {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #0000001a;
    padding: 3px 8px;
    font-size: 40px;
    font-weight: 900;
}

.result_sec .result_box .resutl_filter {
    width: 150px;
    position: sticky;
    top: 0;
    margin-right: 20px;
    padding: 10px;
}

.result_sec .result_box .resutl_filter h1 {
    font-size: 16px;
}

.result_sec .result_box .resutl_filter .filter_bx {
    margin-top: 10px;
}

.result_sec .result_box .resutl_filter .filter_bx .filter_head h4 {
    font-size: 13px;
}

.result_sec .result_box .resutl_filter .filter_bx .filter_bx_item {
    margin-top: 5px;
}

.result_sec .result_box .resutl_filter .filter_bx .filter_bx_item li {
    list-style: none;
    margin-top: 8px;
}

.result_sec .result_box .resutl_filter .filter_bx .filter_bx_item li span {
    font-size: 12.5px;
    font-weight: 500;
}

.result_sec .result_box .resutl_filter .filter_bx .filter_bx_item_btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.result_sec .result_box .resutl_filter .filter_bx .filter_bx_item_btn li {
    font-size: 13px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px 5px;
}

/* Result Sec End */


/* Cart Start  */

.container {
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 20px 15%;
}

.cart-section {
    flex: 3.2;
}

.cart-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: 80px 1.5fr 100px 60px 60px 100px;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 60px;
    height: auto;
    border-radius: 6px;
}

.item-info {
    padding-left: 15px;
}

.item-title {
    font-weight: 600;
    margin-bottom: 2px;
}

.item-subtitle {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.item-actions {
    font-size: 13px;
}

.item-actions i {
    color: #d6001c;
    cursor: pointer;
    transition: .3s linear;
}

.item-actions i:hover {
    color: #ff465f;
}

.item-meta {
    text-align: center;
    font-size: 15px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.qty-input {
    width: 15px;
    text-align: center;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.qty-btn {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.2s;
}

.qty-btn:hover {
    background-color: #f2f2f2;
}

.price {
    font-weight: bold;
}

.summary {
    flex: 1;
    background: #f4f7fa;
    padding: 25px;
    border-radius: 8px;
    height: fit-content;
}

.summary h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.summary p {
    font-size: 16px;
    margin-bottom: 12px;
}

.summary .total {
    font-weight: bold;
    margin-top: 10px;
}

.checkout-btn {
    display: inline-block;
    background-color: #d6001c;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    padding: 20px 15%;
}

.footer-buttons button {
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-size: 15px;
}

.footer-buttons button:hover {
    background-color: #f2f2f2;
}

/* Cart End  */